h1{
    color:brown;
    background-color: rgb(206, 206, 206);
    font-weight:bolder;
}
h2{
    color:rgb(36, 36, 36);
    font: weight 400px;
}
p{
    color:black;
    font-size: small;
    font-weight:100;
}