body{
    font-family:'Montserrat', sans-serif;
    text-align:left;
    margin:20px
    
}
.header{
    background-color: #c4c4c4;
    padding:80px;
    margin:0;
}

nav{
    display:flex;
    justify-content: center;
    padding:2rem;
}
a{
    text-decoration: none;
}
h1{
    font-size: 9rem;
    display:flex;
    justify-content: center;
    color: rgb(85, 84, 84);
}
.about{
    font-size: 1.5rem;
    display:flex;
    justify-content: center;
    padding-top:


}

h2{
    color: rgb(85, 84, 84);
    }

.hello{
    padding:80px 20px;
    line-height: 2rem;
}

.design{
    padding:80px 20px;
    line-height: 2rem;
    background-color: rgb(233, 233, 233);
}
.experience{
    padding:80px 20px;
    line-height: 2rem;
}

button{
    display: flex;
    padding: 20px;
    font-size: 1rem;
    border-radius: 2rem;
    color: rgba(121, 9, 226, 0.808);
    border-color:  rgb(106, 9, 216);
}
.set{
    padding:80px 20px;
    line-height: 2rem;
    background-color: rgb(233, 233, 233);
}
.offer{
    padding: 80px 20px;
    line-height: 2rem;
}

.together{
    padding:80px 20px;
    line-height: 2rem;
    background-color: rgb(233, 233, 233);
   
}

footer{
    display:flex;
    justify-content: center;
    padding: 100px;
}